#Ignore everything unless stated otherwise#
###########################################
/*
/*/



#Dont Ignore these directories and        #
#Sub-Directories                          #
###########################################
!/src/
!/assets/